In [39]:
import numpy as np
import pandas as pd
import pickle
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
#import dataset and see how it looks like
df = pd.read_csv("../dataset/mbti_big5_clean.csv")
print(df.shape)
df.head()

(8672, 6)

   type conscieniousness    agreeable extraversion  neuroticism     openness
0  INFJ      43.52417819  58.68915806           an  95.56853657   68.2717645
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874

In [24]:
# some sample has texts data
mask = df['extraversion'].str.contains('^\d*\.?\d*$', na = False)
df = df[mask]
df.head()

   type conscieniousness    agreeable extraversion  neuroticism     openness
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874
5  ENTJ       15.7368388  47.37946064   55.7772194  96.28591317  69.24075453

In [25]:
# remove samples has text data on other traits
df = df[df['conscieniousness'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['agreeable'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['neuroticism'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['openness'].str.contains('^\d*\.?\d*$', na = False)]

In [27]:
# transfer mbti to integers
mbti_dict = {'ISTJ':1, 'ISTP':2, 'ISFJ':3, 'ISFP':4, 'INTJ':5, 'INTP':6, 'INFJ':7, 'INFP':8,
             'ESTJ':9, 'ESTP':10, 'ESFJ':11, 'ESFP':12, 'ENTJ':13, 'ENTP':14, 'ENFJ':15, 'ENFP':16}
mbti_dict_back = {v: k for k, v in mbti_dict.items()}

df['type'] = df['type'].apply(lambda x: mbti_dict[x])
df.head()

   type conscieniousness    agreeable extraversion  neuroticism     openness
1     7      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2    14      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3     6      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4     5      21.39582754    70.408671  56.05826003  89.56679917  72.92137874
5    13       15.7368388  47.37946064   55.7772194  96.28591317  69.24075453

In [28]:
# unify datatypes
df = df.apply(pd.to_numeric)
df.dtypes

type                  int64
conscieniousness    float64
agreeable           float64
extraversion        float64
neuroticism         float64
openness            float64
dtype: object

In [45]:
# see how data look like
print(df.groupby('type').agg('mean'))
print(df.groupby('type').agg('std'))

      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            41.730087  50.860979     34.038727    89.025383  65.077677
2            27.808481  48.100595     36.118409    91.901227  71.095501
3            40.801885  51.077550     32.889770    90.464744  66.273595
4            34.897305  53.886507     34.763556    89.801703  72.359709
5            36.332027  51.326485     35.286357    90.458846  67.900300
6            32.158812  50.642141     34.474338    90.423509  69.767881
7            37.674599  50.917706     33.883986    91.106848  69.182739
8            35.507266  48.731156     31.368062    92.426896  71.521649
9            42.122198  56.118490     36.993981    90.735260  64.018426
10           24.792950  51.452587     39.613595    92.377139  71.204205
11           41.952450  58.713643     36.821596    91.048323  64.395185
12           29.729929  57.112214     38.753065    90.655316  76.667548
13           37.585204  48.953162     39.074726    90.914676  65.951147
14           29.153306  49.755813     39.791999    92.479378  68.895025
15           37.643112  53.324633     37.107266    91.848493  68.297266
16           34.655193  52.723654     37.203531    92.086121  70.253416
      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            17.253713  16.189569     15.406410    11.761507  14.013965
2            17.099972  16.363912     15.924868    10.733793  13.702713
3            18.967118  15.575434     17.244154    13.082754  13.369093
4            17.579597  16.070327     18.055832    12.526431  13.233865
5            17.722792  14.934564     15.221279    10.647412  14.754310
6            17.710396  15.568972     15.720726    11.331488  14.455997
7            16.525180  15.691337     15.886095    10.180787  13.068438
8            17.157536  15.786926     16.099703     9.491913  13.220164
9            18.644034  12.446056     15.190952     7.400971  15.134376
10           16.073501  14.887147     16.340967     9.123265  12.240984
11           16.524875  12.426117     15.969777     6.759228  16.494979
12           18.306152  15.989456     15.606323     9.024527  11.870152
13           18.851619  16.007047     16.234574    11.012714  14.603483
14           17.215812  15.040611     15.672369     8.404345  14.368383
15           18.927009  14.641823     16.475195    10.833847  14.370611
16           17.190486  15.048825     16.600990     8.979122  14.144151

In [ ]:
# neuroticism scores

In [ ]:
# preprocess the data
# 1. delete unrelated samples
# 2. transfer mbti types to integers
# Visualization of data
# model set up
# 1. train/test/cross-validation
# 
# training
# test

#most neuroticism score 90%+
#since the dataset is unnecessaryly huge, delete some of 90+, and remain some of work