In [1]:
import numpy as np
import pandas as pd
import pickle
import sklearn
import matplotlib.pyplot as plt

In [8]:
#import dataset and see how it looks like
df = pd.read_csv("../dataset/mbti_big5_clean.csv")
print(df.shape)
df.head()

(8672, 6)

   type conscieniousness    agreeable extraversion  neuroticism     openness
0  INFJ      43.52417819  58.68915806           an  95.56853657   68.2717645
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874

In [22]:
# some sample has texts data
mask = df['extraversion'].str.contains('^\d*\.?\d*$', na = False)
df = df[mask]
df.head()

   type conscieniousness    agreeable extraversion  neuroticism     openness
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874
5  ENTJ       15.7368388  47.37946064   55.7772194  96.28591317  69.24075453

In [24]:
# remove samples has text data on other traits
df = df[df['conscieniousness'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['agreeable'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['neuroticism'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['openness'].str.contains('^\d*\.?\d*$', na = False)]

In [ ]:
# preprocess the data
# 1. delete unrelated samples
# 2. transfer mbti types to integers
# 3. unify datatypes of samples
# Visualization of data
# model set up
# 1. train/test/cross-validation
# 
# training
# test

#most neuroticism score 90%+
#since the dataset is unnecessaryly huge, delete some of 90+, and remain some of work