In [1]:
import numpy as np
import pandas as pd
import pickle
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#import dataset and see how it looks like
df = pd.read_csv("../dataset/mbti_big5_clean.csv")
print(df.shape)
df.head()

(8672, 6)

   type conscieniousness    agreeable extraversion  neuroticism     openness
0  INFJ      43.52417819  58.68915806           an  95.56853657   68.2717645
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874

In [3]:
# some sample has texts data
mask = df['extraversion'].str.contains('^\d*\.?\d*$', na = False)
df = df[mask]
df.head()

   type conscieniousness    agreeable extraversion  neuroticism     openness
1  INFJ      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2  ENTP      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3  INTP      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4  INTJ      21.39582754    70.408671  56.05826003  89.56679917  72.92137874
5  ENTJ       15.7368388  47.37946064   55.7772194  96.28591317  69.24075453

In [4]:
# remove samples has text data on other traits
df = df[df['conscieniousness'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['agreeable'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['neuroticism'].str.contains('^\d*\.?\d*$', na = False)]
df = df[df['openness'].str.contains('^\d*\.?\d*$', na = False)]

In [5]:
# transfer mbti to integers
mbti_dict = {'ISTJ':1, 'ISTP':2, 'ISFJ':3, 'ISFP':4, 'INTJ':5, 'INTP':6, 'INFJ':7, 'INFP':8,
             'ESTJ':9, 'ESTP':10, 'ESFJ':11, 'ESFP':12, 'ENTJ':13, 'ENTP':14, 'ENFJ':15, 'ENFP':16}
mbti_dict_back = {v: k for k, v in mbti_dict.items()}

df['type'] = df['type'].apply(lambda x: mbti_dict[x])
df.head()

   type conscieniousness    agreeable extraversion  neuroticism     openness
1     7      50.22031973  57.71273046   20.2788891  85.88187978  75.60278174
2    14      37.61441377  53.04986179   19.2923702  97.24779521   76.6872109
3     6      55.88302211  62.36175274  33.68039782  77.35532718  73.16256345
4     5      21.39582754    70.408671  56.05826003  89.56679917  72.92137874
5    13       15.7368388  47.37946064   55.7772194  96.28591317  69.24075453

In [6]:
# unify datatypes
df = df.apply(pd.to_numeric)
df.dtypes

type                  int64
conscieniousness    float64
agreeable           float64
extraversion        float64
neuroticism         float64
openness            float64
dtype: object

In [7]:
# see how data look like
print(df.groupby('type').agg('mean'))
print(df.groupby('type').agg('std'))

      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            41.730087  50.860979     34.038727    89.025383  65.077677
2            27.808481  48.100595     36.118409    91.901227  71.095501
3            40.801885  51.077550     32.889770    90.464744  66.273595
4            34.897305  53.886507     34.763556    89.801703  72.359709
5            36.332027  51.326485     35.286357    90.458846  67.900300
6            32.158812  50.642141     34.474338    90.423509  69.767881
7            37.674599  50.917706     33.883986    91.106848  69.182739
8            35.507266  48.731156     31.368062    92.426896  71.521649
9            42.122198  56.118490     36.993981    90.735260  64.018426
10           24.792950  51.452587     39.613595    92.377139  71.204205
11           41.952450  58.713643     36.821596    91.048323  64.395185
12           29.729929  57.112214     38.753065    90.655316  76.667548
13           37.585204  48.953162     39.074726    90.914676  65.951147
14           29.153306  49.755813     39.791999    92.479378  68.895025
15           37.643112  53.324633     37.107266    91.848493  68.297266
16           34.655193  52.723654     37.203531    92.086121  70.253416
      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            17.253713  16.189569     15.406410    11.761507  14.013965
2            17.099972  16.363912     15.924868    10.733793  13.702713
3            18.967118  15.575434     17.244154    13.082754  13.369093
4            17.579597  16.070327     18.055832    12.526431  13.233865
5            17.722792  14.934564     15.221279    10.647412  14.754310
6            17.710396  15.568972     15.720726    11.331488  14.455997
7            16.525180  15.691337     15.886095    10.180787  13.068438
8            17.157536  15.786926     16.099703     9.491913  13.220164
9            18.644034  12.446056     15.190952     7.400971  15.134376
10           16.073501  14.887147     16.340967     9.123265  12.240984
11           16.524875  12.426117     15.969777     6.759228  16.494979
12           18.306152  15.989456     15.606323     9.024527  11.870152
13           18.851619  16.007047     16.234574    11.012714  14.603483
14           17.215812  15.040611     15.672369     8.404345  14.368383
15           18.927009  14.641823     16.475195    10.833847  14.370611
16           17.190486  15.048825     16.600990     8.979122  14.144151

In [8]:
# the text of mbti dataset were collected from posts in 'personality cafe' forum, therefore,
# content in this type of psychology forum is highly possible relating to words with neuroticism.
# for a less noise distribution, i decided to delete some of samples that has neuroticism 90+
df_red = df.head(8000)
df_red = df_red[df_red['neuroticism']<80]
df_red.info()
df_temp = df.iloc[8001:]
df_red = df_red.append(df_temp)
df_red.info()
# 961/1448 around 0.7

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961 entries, 3 to 8175
Data columns (total 6 columns):
type                961 non-null int64
conscieniousness    961 non-null float64
agreeable           961 non-null float64
extraversion        961 non-null float64
neuroticism         961 non-null float64
openness            961 non-null float64
dtypes: float64(5), int64(1)
memory usage: 52.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448 entries, 3 to 8671
Data columns (total 6 columns):
type                1448 non-null int64
conscieniousness    1448 non-null float64
agreeable           1448 non-null float64
extraversion        1448 non-null float64
neuroticism         1448 non-null float64
openness            1448 non-null float64
dtypes: float64(5), int64(1)
memory usage: 79.2 KB

In [9]:
print(df_red.groupby('type').agg('mean'))
print(df_red.groupby('type').agg('std'))

      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            42.463145  62.022803     41.726775    75.035623  69.419456
2            33.256361  61.949451     40.174606    77.039217  71.484635
3            39.684852  65.028596     41.350999    71.130012  71.596869
4            37.097229  63.507303     40.402421    73.894163  74.220937
5            41.865362  60.366819     39.867396    75.469925  69.116419
6            39.935593  61.762293     40.911610    74.660269  70.225174
7            40.928856  62.808752     40.508283    76.115244  72.239287
8            40.318154  59.568035     37.645850    77.771208  73.672982
9            47.221480  62.147666     36.643012    79.929114  70.141423
10           28.121199  62.827843     39.534078    77.239977  71.580613
11           49.951791  67.038756     42.362289    84.682389  67.317374
12           35.627939  64.018578     47.842211    76.487859  74.319998
13           42.592218  59.818317     47.583992    73.794249  68.338943
14           36.249873  59.615707     42.766156    80.523491  67.771831
15           44.974173  64.055677     47.362828    74.524053  72.143578
16           39.741062  61.298281     39.208726    79.144018  70.684321
      conscieniousness  agreeable  extraversion  neuroticism   openness
type
1            15.886814  13.801384     17.220064    15.962524  13.294457
2            18.751178  15.422276     15.609997    16.303736  14.334707
3            18.295574  17.645645     18.150688    23.499311  10.736469
4            19.352634  16.915870     21.108076    18.092765  15.285333
5            17.182178  15.113385     16.939074    15.102995  14.017437
6            18.451747  14.160083     15.331877    14.906639  15.383005
7            17.019046  14.886711     16.265163    14.673040  12.715925
8            17.016132  15.967659     17.383666    15.127570  13.045510
9            27.941490  14.029939     19.498424     6.432724  12.206138
10           17.646447  13.563955     14.786934    12.568471   7.973316
11           10.389086  13.034781     21.306843     8.818394  15.359685
12           20.674673   8.508331     13.631978     9.085052  11.633362
13           15.931528  17.558933     18.604898    15.824502  15.238957
14           15.999947  13.911016     16.498613    12.738406  13.889808
15           21.869369  14.967086     19.738418    17.155650  13.344685
16           17.610770  16.442108     16.669306    13.048925  14.583950

In [ ]:
# preparing training

In [10]:
# preprocess the data
# 1. delete unrelated samples
# 2. transfer mbti types to integers
# Visualization of data
# model set up
# 1. train/test/cross-validation
# 
# training
# test

#most neuroticism score 90%+
#since the dataset is unnecessaryly huge, delete some of 90+, and remain some of work